{% extends 'account/sub_main.html' %}
{% load static %}

{% block content %}

<div id="logreg-forms">
    <form class="form-signin" action="" method="POST">
        {% csrf_token %}
        <div id="error" style="font-weight: bold; text-transform: uppercase;" class="text-danger text-center mb-4">{{error}}</div>

        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
        </div>
        <p style="text-align:center"> OR  </p>
        <input type="username" id="inputUsername" name = "username" class="form-control" placeholder="Username">
        <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password">
        
        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
        </div>

        <a href="#" id="forgot_pswd">Forgot password?</a>
        <hr>
        <!-- <p>Don't have an account!</p>  -->
        <div class="d-grid gap-2 mb-4">
            <a href="{% url 'register' %}" class="btn btn-primary text-white"><i class="fas fa-user-plus"></i> Sign up New Account</a>
        </div>

    </form>
</div>

{% endblock content %}